.add-pet {
    width: 75%;
    margin: auto;    
}

.add-pet h1{
    color: white;
    text-align: center;
}
.add-pet form{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    background-color: wheat;
    border: 10px dashed #cf4675;
    padding: 30px;
}

.add-photo-holder{
    width:35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-holder{
    flex-grow:1;
    
}
.add-place-and-time{
    height: 10%;
}

.contact-holder{
    width: 90%;
}



.add-pet input, .add-pet label, .add-pet div{
    margin-top: 10px;
}

.add-pet input{
    font-size: 1.3rem;
    margin-bottom: 15px;
}



.add-photo{
    background-image: url('../images/camera-icon-cc0.png');
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

#add-photo{
    display: none;
}

label[for='add-photo']{
    cursor: pointer;
}

.add-place-and-time{
    height: 100px;
}

.basic-info label, .basic-info input{
    display: inline-block;
}