
 .App {
  background-color: #FF7400;
  font-size: 1.3rem;
  
}

/* reset of defaults */

html, body{ height: 100%}
button{

  border-width:0;
}

input{
  border-width:0;
}



@import './Header.css';
@import './Home.css';
@import './Log-in.css';
@import './Footer.css';
@import './Registration.css';
@import './Dogs-page.css';
@import './What-to-do-info.css';
@import './Add-pet.css';