.dogs-page{
    text-align: center;
    color:white;
    position: relative;
    width: 90%;
    margin:auto;
}

.dogs-page h1{
    color: white;
}

.dogs-list{
    color: white;
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.dogs-list li{
    /* border: 1px solid black; */
    width: 30%;
    padding:0;
}

.dogs-list li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    text-align: left;
}

.dog-photo{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
}


#add-pet a{
    height: 114px;
    top:0;
    
}

@media(min-width:1350px){
    #add-pet a{
        right: 0;
        left: inherit;
        margin-right: 20px;
    }
}

@media(max-width:1350px){
    .dogs-page p {
        margin-bottom:200px;
    }
    #add-pet a{
        top:175px;
    }
}

@media(max-width:990px){
    .dogs-list li{
        width:50%;
    }   
}

@media(max-width:610px){
    .dogs-list li{
        width:100%;
    }   
}