.header{
    background-color: #CE0075;
    height:50px;
}

.sign-btns{
    float:right;
    margin: 10px 20px;
}

.sign-btns a{
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.signed-msg{
    display: flex;
    float:right;
    align-items: center;
    height: 40px;
}

.signed-msg p{
    margin:0 10px;
    color: white;
}

.signed-msg button{
    font-size: 1.3rem;
    background-color: transparent;
    margin: 0 10px;
    color: white;
    cursor: pointer;
}