
.show-pet{
    display: flex;
    margin: auto;
    margin-top: 40px;
    width: 75%;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}

.show-pet ul {
    list-style: none;
    width: 75%;
    position: relative;
}

#pet-map{
    margin-bottom: 20px;
}

li.pet-photo{
    width: 50%;
    height: 300px;
    background-position: center;
    background-size: cover;

}

 div.show-pet ul button a {
    bottom: 40px;
    left:auto;
 }