.what-to-do-info{
    width: 75%;
    margin: auto;
    text-align: center;
}

.first-step{
    border: 10px dashed #E0248F;
    padding: 50px;
    margin: 100px 0;
    position: relative;
    background-color: wheat;
}

.first-step h1{
    text-transform: uppercase;
    color: #e1528f;
    background-color: wheat;
    position: absolute;
    padding: 6px 20px;
    top:-40px;
    border-radius:16px;
    left:0;
    right:0;
    margin:0 auto;
    width: fit-content;
}
.extra-padding{
    padding-bottom: 120px;
}


.pop-btn {
    padding:0 !important;
}

.pop-btn a {

    width: 210px;
    height: 78px;
    padding: 10px;
    background-color: #1FC0C0;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700 !important;
    color: white;;
    line-height: 38px;
    margin: 0 auto;
    left: 0;
    right: 0;

    /* 3d effect */
    position:absolute;
    transition: all .3s;
    
}

.pop-btn a::before{
    position: absolute;
	content: '';
    transition: all .3s;
    bottom: -15px;
	height: 15px;
	width: 100%;
	left: 8px;
	transform: skewX(45deg);
	background-color: #009C9C;
}
.pop-btn a::after{
    position: absolute;
	content: '';
    transition: all .3s;
    right: -15px;
	height: 100%;
	width: 15px;
	bottom: -8px;
	transform: skewY(45deg);
	background-color: #085151;
}
.pop-btn a:active{
    margin-top: 10px;
    transform: translateX(20px);
}
.pop-btn a:active::before{
    bottom: -5px;
	height: 5px;
	left: 3px;
}
.pop-btn a:active::after{
    right: -5px;
	width: 5px;
	bottom: -3px;
}
.pop-btn a:focus{
    outline: none;
}

@media(max-width:470px){
    .what-to-do-info{
        width: 90%;
    }
    .first-step h1{
        font-size: 1.4em;
        top:-37px;
    }
    .first-step{
        padding:10px;
        padding-top: 30px;
    }

    .extra-padding{
        padding-bottom: 120px;
    }
}